@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Lato:wght@400;700;900&family=Noto+Sans+Mono:wght@400;500;700;800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-color: #DBD3D8;
   font-family: 'Josefin Sans', sans-serif;
   font-family: 'Lato', sans-serif;
   font-family: 'Noto Sans Mono', monospace;
   color: black;
}
/* borders */

/* borders */

/* header */
.header-container {
   padding: 1em 3em;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.title {
   display: flex;
   align-items: center;
   cursor: pointer;
}
.navbar {
   display: flex;
   justify-content:flex-end;
}
.link-container {
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 6em;
   height: 2.5em;
   transition: .2s;
   margin: 0 .2em;
}
.link-container:hover {
   background-color: rgb(207, 204, 204);
}
.nav-link {
   text-align: center;
   text-decoration: none;
   color: black;
   font-size: 1.1em;
}


/* main body */
.main-container {
   display: flex;
   justify-content: center;
   width: 30em;
   margin: 1em;
}
.site-body-container {
   display: flex;
   justify-content: center;
}

/* input fields */
.def-container {
   width: 30em;
   min-height: 8em;
   background-color: rgb(255, 255, 255);
   padding: .5em;
   border-radius: 5px;
   margin-bottom: .8em;
   box-shadow: 0 0 10px rgb(177, 177, 177);
   text-decoration: none;
   color: black;
}
[contenteditable]:focus {
   outline: 0px solid transparent;
}
[def-placeholder]:empty:before {
   content: attr(def-placeholder);
   color: rgb(0, 0, 0);
   opacity: .3;
   cursor: text;
}

.answer-container {
   width: 30em;
   min-height: 2.5em;
   background-color: rgb(255, 255, 255);
   padding: .5em;
   border-radius: 5px;
   margin-bottom: .6em;
   box-shadow: 0 0 10px rgb(177, 177, 177);
}
[ans-placeholder]:empty:before {
   content: attr(ans-placeholder);
   color: rgb(0, 0, 0);
   opacity: .3;
   cursor: text;
}

/* show questions container */
.question-container {
   width: 43em;
   margin: 1em;
}
.questions-list {
   word-wrap: break-word;
}
.question-bg {
   background-color: #e2c5b6;
   min-height: 20em;
   border-radius: 5px;
   box-shadow: 0 0 10px rgb(177, 177, 177);
   padding: .5em;
}

/* buttons */
.startbtn-container {
   margin-top: 1em;
}
#start-btn, .add-btn {
   cursor: pointer;
   border-radius: 5px;
   border: none;
   font-size: 1em;
   width: 10em;
   height: 3em;
   background-color: #D77A61;
   box-shadow: 0 0 10px rgb(177, 177, 177);
   transition: .2s;
}
#start-btn:hover, .add-btn:hover {
   background-color: #ce674b;
}

/* previous flashcards */
.previous-questions-container {
   margin-top: 3em;
}
.previous {
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   box-shadow: 0 0 10px rgb(177, 177, 177);
   width: 30em;
   height: 4em;
   margin-top: .5em;
   padding: .5em;
   word-wrap: break-word;
   transition: .2s;
   cursor: pointer;
}
.previous:hover {
   background-color: rgb(231, 231, 231);
}