@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Lato:wght@400;700;900&family=Noto+Sans+Mono:wght@400;500;700;800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-color: rgb(240, 234, 223);
   font-family: 'Josefin Sans', sans-serif;
   font-family: 'Lato', sans-serif;
   font-family: 'Noto Sans Mono', monospace;
   color: black;
}
/* borders */


/* borders */


.title {
   text-align: center;
   margin: .5em 0 1em 0;
}
/* main body */
.main-container {
   display: flex;
   justify-content: center;
   width: 40%;
}
.site-body-container {
   display: flex;
}

/* input fields */
.def-container {
   width: 25em;
   min-height: 8em;
   background-color: rgb(255, 255, 255);
   padding: .5em;
   border-radius: 5px;
   margin-bottom: .8em;
   box-shadow: 0 0 10px rgb(218, 218, 218);
   text-decoration: none;
   color: black;
}
[contenteditable]:focus {
   outline: 0px solid transparent;
}
[def-placeholder]:empty:before {
   content: attr(def-placeholder);
   color: rgb(0, 0, 0);
   opacity: .3;
   cursor: text;
}

.answer-container {
   width: 25em;
   min-height: 2.5em;
   background-color: rgb(255, 255, 255);
   padding: .5em;
   border-radius: 5px;
   margin-bottom: .6em;
   box-shadow: 0 0 10px rgb(204, 198, 198);
}
[ans-placeholder]:empty:before {
   content: attr(ans-placeholder);
   color: rgb(0, 0, 0);
   opacity: .3;
   cursor: text;
}
/* add button */
#add-btn {
   width: 8em;
   height: 3em;
}

/* show questions container */
.question-container {
   width: 55%;
}
.questions-list {
   word-wrap: break-word;
}
.question-bg {
   background-color: white;
   width: 50em;
   min-height: 20em;
   border-radius: 5px;
   box-shadow: 0 0 10px rgb(204, 198, 198);
   padding: .5em;
}


/* flashcard section */
.flashcard-container {
   display: flex;
   justify-content: center;
}
.flashcard {
   width: 35em;
   height: 15em;
   background-color: rgb(116, 184, 110);
   margin: 1em;
   border-radius: 5px;
   padding: 1em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: .2s;
}
.flashcard-def {
   font-size: 2em;
}
.flashcard-ans {
   margin-top: 5em;
   font-size: 1em;
}
.flashcard:hover {
   background-color: rgb(114, 168, 109);
}

/* next button*/
.next-btn-container {
   display: flex;
   justify-content: center;
}
.next-btn {
   width: 20em;
   height: 4em;
}