@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  * {
    @apply p-0 m-0 box-border;
  }
  body {
    @apply bg-[#f2f2f2] font-[nunito] relative;
  }
}

@layer components {
  .nav-link {
    @apply hover:bg-gray-200 flex items-center justify-center h-8 w-14 md:w-16 
    rounded transition-all;
  }
  .empty-input {
    @apply empty:before:content-[attr(input-placeholder)] empty:before:opacity-50;
  }
  .flashcard-btn {
    @apply bg-[#b989c2] md:min-w-[10%] rounded hover:bg-[#a77aaf] transition-all 
    duration-100 p-2 mt-2 mx-2;
  }
  .question-list-btn {
    @apply cursor-pointer min-w-[2em] border-none transition-all duration-100 
    flex items-center justify-center bg-[#e4e4e4]/90 p-1 hover:bg-[#d8d8d8] 
    text-[1.3em];
  }
}

@layer utilities {
  .edit-form {
    @apply empty:before:content-[attr(placeholder)] empty:before:text-[rgb(68,68,68)] 
    empty:before:opacity-50 p-[0.30rem] min-h-[3em] w-[98%] m-auto bg-gray-200 
    hover:cursor-text outline-none;
  }
  .home-btn {
    @apply cursor-pointer bg-[#b989c2] mx-1 py-1 px-2 text-lg rounded my-[5px] 
    hover:bg-[#a77aaf] transition-all duration-100;
  }
  .show-export-msg {
    @apply visible scale-100 top-2;
  }
}

/* card */
.card {
  background-color: transparent;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-flip {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2%;
  word-break: normal;
}

.card-back {
  transform: rotateY(180deg);
}

/* [placeholder]:empty:before {
  content: attr(placeholder);
  color: rgb(68, 68, 68);
  opacity: 0.5;
  cursor: text;
} */
