.edit-questions-cont {
  display: flex;
  width: 80vw;
  margin: auto;
}

.left-edit-cont,
.right-edit-cont {
  width: 50%;
  margin: 0 auto;
}

/* BLANK INPUT FIELDS */
.def-input:empty:before {
  content: attr(def-placeholder);
  color: rgb(0, 0, 0);
  opacity: 0.3;
  cursor: text;
}
.ans-input:empty:before {
  content: attr(ans-placeholder);
  color: rgb(0, 0, 0);
  opacity: 0.3;
  cursor: text;
}

.def-input {
  width: 90%;
  min-height: 10em;
  border: 1px solid rgb(177, 177, 177);
  padding: 0.5em;
  font-size: 1.2em;
  margin: 1em 0 0.5em 0;
  border-radius: 5px;
}
.def-input:focus,
.ans-input:focus {
  outline: none;
}

.ans-input {
  width: 90%;
  font-size: 1.2em;
  border: 1px solid rgb(177, 177, 177);
  padding: 0.3em 0.4em;
  margin-bottom: 0.5em;
  border-radius: 5px;
}

.add-ques-btn {
  width: 20%;
  height: 2.2em;
  font-size: 1em;
  border: none;
  background-color: rgb(219, 135, 24);
  cursor: pointer;
  border-radius: 5px;
  padding: 0.2em;
  transition: 0.2s;
}
.add-ques-btn:hover,
.start-btn:hover {
  background-color: rgb(214, 124, 21);
}
.add-ques-btn:focus,
.start-btn:focus {
  outline: 1px solid black;
}

/* RIGHT CONTAINER */
.right-edit-cont {
  text-align: center;
  margin-top: 0.5em;
}
.questions-cont {
  margin-bottom: 1em;
}
.ques-border-line {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 5px;
  min-height: 40vh;
  max-height: 70vh;
  padding: 0.5em;
  overflow: auto;
}

/* each question */
.ques-cont {
  word-break: break-all;
  text-align: start;
  display: flex;
  align-items: center;
  min-height: 2em;
  margin-bottom: 0.2em;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.del-ques-btn {
  margin-left: auto;
  cursor: pointer;
  min-width: 2.5em;
  border: none;
  background-color: rgb(228, 228, 228);
  transition: 0.2s;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.del-ques-btn:hover {
  background-color: rgb(197, 197, 197);
}

.start-btn {
  cursor: pointer;
  width: 15%;
  height: 1.8em;
  font-size: 1.1em;
  border-radius: 5px;
  border: none;
  background-color: rgb(219, 135, 24);
  transition: 0.2s;
}
