.curr-title {
  text-align: center;
  margin: 0.2em 0;
}

.question-cont {
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  padding: 0.5em;
  width: 80vw;
  min-height: 10em;
  margin: auto;
  word-wrap: break-word;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.def-text {
  font-size: 1.5em;
  text-align: center;
}
.ans-text {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: rgb(219, 157, 24);
}

/* BUTTONS */
.buttons-cont {
  width: 50vw;
  margin: 0.5em auto;
  display: flex;
  justify-content: center;
}
.next-btn,
.show-ans-btn {
  width: 18%;
  height: 2.5em;
  margin: 0.2em;
  cursor: pointer;
  border: none;
  background-color: rgb(219, 135, 24);
  transition: 0.2s;
  border-radius: 5px;
  font-size: 1em;
}
.next-btn:hover,
.show-ans-btn:hover {
  background-color: rgb(214, 124, 21);
}
