@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply p-0 m-0 box-border;
  }
  body {
    @apply bg-[#f2f2f2] font-[nunito];
  }
}

@layer components {
  .nav-link {
    @apply mx-1 hover:bg-gray-200 flex items-center 
    justify-center h-8 w-14 md:w-16 rounded transition-all;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* ABOUT */
.about-cont {
  width: 80vw;
  margin: 1em auto;
  text-align: center;
}
.about-cont p {
  margin-top: 0.4em;
  font-size: 1.2em;
}
