@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Lato:wght@400;700;900&family=Noto+Sans+Mono:wght@400;500;700;800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-color: #F7F6F2;
   font-family: 'Josefin Sans', sans-serif;
   font-family: 'Lato', sans-serif;
   font-family: 'Noto Sans Mono', monospace;
   color: black;
}

/* header */
.header-container {
   padding: 1em 3em;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 2em;
}

.title {
   display: flex;
   align-items: center;
   cursor: pointer;
}
.navbar {
   display: flex;
   justify-content:flex-end;
}
.link-container {
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 6em;
   height: 2.5em;
   transition: .2s;
   margin: 0 .2em;
}
.link-container:hover {
   background-color: rgb(207, 204, 204);
}
.nav-link {
   text-align: center;
   text-decoration: none;
   color: black;
   font-size: 1.1em;
}

/* body */
.body-container {
   display: flex;
}

/* left body */
.left-container {
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.left-title {
   margin-bottom: 1em;
}
.title-container {
   width: 30em;
   min-height: 2.5em;
   background-color: #fff9ee;
   padding: .5em;
   border-radius: 5px;
   margin-bottom: 1em;
   box-shadow: 0 0 10px rgb(177, 177, 177);
}
[contenteditable]:focus {
   outline: 0px solid transparent;
}
[title-placeholder]:empty:before {
   content: attr(title-placeholder);
   color: rgb(0, 0, 0);
   opacity: .3;
   cursor: text;
}
/* create new flashcard button */
.add-title-btn {
   cursor: pointer;
   border-radius: 5px;
   border: none;
   width: 10em;
   height: 3em;
   color: rgb(226, 222, 222);
   box-shadow: 0 0 10px rgb(177, 177, 177);
   transition: .1s;
   background-color: #3061aa;
}
.add-title-btn:hover {
   background-color: #2b70d8;
}

/* right body */
.right-container {
   width: 50%;
}
.right-title {
   margin-bottom: 1em;
   display: flex;
   justify-content: center;
   align-items: center;
}

.previous-cards-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.question {
   width: 85%;
   min-height: 4em;
   padding: 0 .4em;
   border-radius: 5px;
   margin-bottom: 1em;
   box-shadow: 0 0 10px rgb(177, 177, 177);
   cursor: pointer;
   background-color: #fff9ee;
   display: flex;
   align-items: center;
   transition: .1s;
}
.question:hover {
   background-color: #e9daba;
}

.question-text {
   display: flex;
   align-items: center;
   width: 85%;
   height: 4em;
}

.del-btn-container {
   margin-left: auto;
}
.del-btn {
   cursor: pointer;
   border-radius: 5px;
   border: none;
   width: 3em;
   height: 3em;
   color: rgb(226, 222, 222);
   box-shadow: 0 0 10px rgb(177, 177, 177);
   transition: .1s;
   background-color: #3061aa;
}
.del-btn:hover {
   background-color: #3da3e7;
   }